<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>id_client</th>
        <th>name_client</th>
        <th>age</th>
        <th>city</th>
        <th>attendance time</th>
        <th>violence_time</th>
        <th>over consumption</th>
    </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br><br>
<a href="/">Go back to home page</a>
</body>
</html>